.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.p-5 {
	padding: 5rem;
}

.w-50 {
	width: 50%;
}

.border-black {
	border: black solid 3px;
}

.border-green {
	border: green solid 3px;
}

.justify-content {
	justify-content: center;
}

.align-items {
	align-items: center;
}

.green {
	color: green;
}

.bg-grey {
	background: #cecece;
}

.bg-white {
	background: white;
}

.margin-bot-3 {
	margin-bottom: 3rem;
}
